.container {
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--black);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  text-align: center;
  padding: 1rem;
}

header a {
  color: var(--main);
  text-decoration: none;

  font-size: 0.9rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

form {
  width: 100%;
}

.button {
  margin-top: 1.5rem;
}

.container>h1 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.container p {
  font-size: 0.9rem;
}

.login-form .button {
  margin-top: 1rem;
}

.container .input-container {
  background: var(--white);
  border: 1px solid #F1F1F1;
  width: 100%;
  max-width: 400px;
  margin: 1.5rem auto 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 3px;
}

.container input {
  border: 0;
  padding: 0.75rem 1rem;
  width: 100%;

  font-size: 0.9rem;

  color: var(--black);
  outline: none;
}

.forgot-password {
  width: 100%;
}

.forgot-password a {
  color: var(--main);
  text-decoration: none;
  font-size: 0.8rem;
  margin-top: 0.75rem;
  /* display: block; */
  text-align: right;
}

.container .input-container label {
  position: relative;
  padding: 0 1rem;
}

.container .input-container label::after {
  content: '';
  display: block;
  width: 1px;
  height: 75%;
  background: #F1F1F1;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container .left-side>h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.container .right-side>h2 {
  font-size: 2rem;
  font-weight: 900;
  /* margin-bottom: 1rem; */
  color: var(--main);
}