.container {
  width: 100%;
  height: 100%;

  display: flex;
}

.container .right-side,
.container .left-side {
  position: relative;
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--black);
}

.container .left-side {
  color: var(--white);
  background: var(--main);
}

.container .left-side .logo {
  color: var(--white);
  text-decoration: none;

  font-size: 0.8rem;
  margin-bottom: 1rem;
  font-weight: 700;

  position: absolute;
  top: 2rem;
}

.register-form {
  min-width: 400px;
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form .button {
  margin-top: 1.5rem;
}

.register-form .input-container {
  margin-top: 1rem;
}

.container .input-container {
  background: var(--white);
  border: 1px solid #F1F1F1;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 3px;
}

.container input,
.container select {
  border: 0;
  padding: 0.75rem 1rem;
  width: 100%;

  font-size: 0.9rem;

  color: var(--black);
  outline: none;
}

.container .input-container label {
  position: relative;
  padding: 0 1rem;
}

.container .input-container label::after {
  content: '';
  display: block;
  width: 1px;
  height: 75%;
  background: #F1F1F1;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container .left-side>h1 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.container .right-side>h2 {
  font-size: 2rem;
  font-weight: 900;
  color: var(--main);
}

.has-account {
  color: var(--main);
  font-size: 13px;
  text-align: right;
  display: block;
  width: 100%;
  margin-top: 1rem;
}