<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/_reset.css" />
    <link rel="stylesheet" href="/css/enterprise-page.css" />

    <title>4WORKERS - Página de empresa</title>
  </head>

  <body>
    <header>
      <a href="/" class="logo">4WORKERS</a>
    </header>

    <div class="main-banner"></div>

    <main>
      <!-- about -->
      <div class="enterprise-profile">
        <div class="enterprise-image">
          <img
            src="/assets/images/yamaha-logo_blue.png"
            alt="Foto de perfil da yamaha"
          />
        </div>

        <div class="enterprise-info">
          <h2>Yamaha</h2>
          <h3>Vendedora de carros e instrumentos musicais</h3>
          <span>Paraiso - São Paulo, Brasil</span>
        </div>
      </div>

      <div class="enterprise-about">
        <h2>Sobre a empresa</h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget
          augue sem. Aenean id pellentesque dui. Sed porttitor eros et lacus
          laoreet, id interdum mauris luctus. Duis iaculis mi non neque interdum
          pharetra.
        </p>
        <p>
          Aenean id pellentesque dui. Sed porttitor eros et lacus laoreet, id
          interdum mauris luctus. Duis iaculis mi non neque interdum pharetra.
        </p>
      </div>

      <div class="enterprise-professional">
        <h2>Informações profissionais</h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget
          augue sem. Aenean id pellentesque dui. Sed porttitor eros et lacus
          laoreet, id interdum mauris luctus. Duis iaculis mi non neque interdum
          pharetra.
        </p>
      </div>

      <!-- JOB -->
      <div class="profile-job">
        <h2>Candidatos por vagas</h2>

        <div class="job-container">
          <div class="job">
            <div class="job-info">
              <img src="/assets/images/yamaha-logo.png" alt="Logo Yamaha" />
              <h3>Musicista especialista em pianos digitais</h3>
            </div>

            <button class="button">
              <a href="/views/view-candidates.html">Ver candidatos</a>
            </button>
          </div>
          <div class="job">
            <div class="job-info">
              <img src="/assets/images/yamaha-logo.png" alt="Logo Yamaha" />
              <h3>Musicista especialista em pianos digitais</h3>
            </div>

            <button class="button">
              <a href="/views/view-candidates.html">Ver candidatos</a>
            </button>
          </div>
          <div class="job">
            <div class="job-info">
              <img src="/assets/images/yamaha-logo.png" alt="Logo Yamaha" />
              <h3>Musicista especialista em pianos digitais</h3>
            </div>

            <button class="button">
              <a href="/views/view-candidates.html">Ver candidatos</a>
            </button>
          </div>

          <div class="job">
            <div class="job-info">
              <img src="/assets/images/yamaha-logo.png" alt="Logo Yamaha" />
              <h3>Musicista especialista em pianos digitais</h3>
            </div>

            <button class="button">
              <a href="/views/view-candidates.html">Ver candidatos</a>
            </button>
          </div>

          <div class="job">
            <div class="job-info">
              <img src="/assets/images/yamaha-logo.png" alt="Logo Yamaha" />
              <h3>Musicista especialista em pianos digitais</h3>
            </div>

            <button class="button">
              <a href="/views/view-candidates.html">Ver candidatos</a>
            </button>
          </div>
        </div>
      </div>

      <!-- JOB -->
      <div class="enterprise-areas">
        <h2>Áreas da empresa</h2>

        <div class="areas-container">
          <div class="area">
            <div class="area-info">
              <img
                src="/assets/images/yamaha-logo_blue.png"
                alt="Logo Yamaha"
              />
              <h3>Musicista especialista em pianos digitais</h3>
            </div>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              eget augue sem. Aenean id pellentesque dui.
            </p>
          </div>
        </div>
      </div>
    </main>

    <footer>© 2022 4WORKERS. Todos os direitos reservados.</footer>
  </body>
</html>
