<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>4WORKERS - Esqueceu sua senha</title>

    <link rel="stylesheet" href="/css/_reset.css" />
    <link rel="stylesheet" href="/css/forgot-password.css" />
  </head>

  <body>
    <header>
      <a href="/">4WORKERS</a>
    </header>

    <div class="container">
      <h1>Esqueceu sua senha?</h1>
      <p>
        Vamos achar a sua conta no 4workers, insira o seu email e siga os passos
        para continuar
      </p>

      <form id="forgot-password_form">
        <div class="input-container">
          <label for="username">
            <svg
              width="20"
              height="20"
              viewBox="0 0 12 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M11 1.75a.503.503 0 0 1 .4.2c.032.047.024.033 0 0a.5.5 0 0 1 .1.3c0-.027-.001-.038 0 0v7.5a.5.5 0 0 1-.5.5H1a.5.5 0 0 1-.5-.5v-7.5a.501.501 0 0 1 .5-.5h10Zm-.5 1.5L6.3 6.4a.5.5 0 0 1-.545.036L5.7 6.4 1.5 3.25v6h9v-6Zm-8-.5L6 5.375 9.5 2.75h-7Z"
                fill="#000"
                fill-opacity=".85"
              />
            </svg>
          </label>

          <input type="text" placeholder="Digite seu email" id="username" />
        </div>

        <button class="button" id="forgot-password_send">Enviar</button>
      </form>
    </div>

    <script>
      function handleForgotPasswordSend() {
        const sendForm = document.querySelector('#forgot-password_form');

        sendForm.addEventListener('submit', function (ev) {
          ev.preventDefault();

          const sendButton = document.querySelector('#forgot-password_send');
          sendButton.innerHTML = 'Enviado com sucesso!';

          setTimeout(() => (window.location.href = '/'), 2500);
        });
      }

      handleForgotPasswordSend();
    </script>
  </body>
</html>
