<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/_reset.css" />
    <link rel="stylesheet" href="/css/login.css" />

    <title>4WORKERS - Login</title>
  </head>
  <body>
    <section class="container">
      <div class="left-side">
        <a href="/" class="logo">4WORKERS</a>
        <h1>Seja bem-vindo de volta!</h1>
        <p>Entre para ter acesso ao seu perfil</p>
      </div>

      <div class="right-side">
        <h2>Faça seu login</h2>

        <form class="login-form" id="login-form">
          <div class="input-container">
            <label for="username">
              <svg
                width="20"
                height="20"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M6 1.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3ZM3.5 3a2.5 2.5 0 1 1 5 0 2.5 2.5 0 0 1-5 0ZM1 11a5 5 0 0 1 10 0 .5.5 0 0 1-1 0 4 4 0 0 0-8 0 .5.5 0 0 1-1 0Z"
                  fill="#150E4A"
                  fill-opacity=".9"
                />
              </svg>
            </label>

            <input
              type="text"
              placeholder="Digite seu nome de usuário"
              id="username"
            />
          </div>

          <div class="input-container">
            <label for="password">
              <svg
                width="20"
                height="20"
                viewBox="0 0 12 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M6.5 7.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 1 0V7.5Z"
                  fill="#150E4A"
                  fill-opacity=".9"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M3 3.5V5H2a1 1 0 0 0-1 1v4.5a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H9V3.5a3 3 0 0 0-6 0Zm3-2a2 2 0 0 0-2 2V5h4V3.5a2 2 0 0 0-2-2ZM2 6h8v4.5H2V6Z"
                  fill="#150E4A"
                  fill-opacity=".9"
                />
              </svg>
            </label>

            <input
              type="password"
              placeholder="Digite sua senha"
              id="password"
            />
          </div>
          <div class="forgot-password">
            <a href="/views/forgot-password.html">Esqueceu sua senha?</a>
          </div>

          <button class="button" id="login-button"><a>Fazer login</a></button>
        </form>
      </div>
    </section>

    <script>
      function handleUserLogin() {
        const form = document.querySelector('#login-form');

        form.addEventListener('submit', function (ev) {
          ev.preventDefault();

          const sendButton = document.querySelector('#login-button a');
          sendButton.innerHTML = 'Carregando...';

          setTimeout(() => (window.location.href = '/views/user.html'), 1000);
        });
      }

      handleUserLogin();
    </script>
  </body>
</html>
