<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/_reset.css" />
    <link rel="stylesheet" href="/css/user-page.css" />

    <title>4WORKERS - Página de usuário</title>
  </head>

  <body>
    <header>
      <a href="/" class="logo">4WORKERS</a>
    </header>

    <div class="main-banner"></div>

    <main>
      <!-- USER PROFILE -->
      <div class="user-profile">
        <div class="user-image">
          <img
            src="/assets/images/user-image.jpg"
            alt="Foto de perfil do usuário"
          />
        </div>

        <div class="user-info">
          <h2>Fernando Araújo</h2>
          <h3>Musicista profissional</h3>
          <span>Paraiso - São Paulo, Brasil</span>
        </div>
      </div>

      <div class="user-about">
        <h2>Sobre mim</h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget
          augue sem. Aenean id pellentesque dui. Sed porttitor eros et lacus
          laoreet, id interdum mauris luctus. Duis iaculis mi non neque interdum
          pharetra.
        </p>
        <p>
          Aenean id pellentesque dui. Sed porttitor eros et lacus laoreet, id
          interdum mauris luctus. Duis iaculis mi non neque interdum pharetra.
        </p>
      </div>

      <!-- EXPERIENCE -->
      <div class="user-experience">
        <h2>Minhas experiências</h2>

        <div class="experience-container">
          <div class="experience">
            <h3>Musicista especialista em pianos digitais</h3>

            <h4>Empresa de músicos - EAM</h4>
            <span>2012 - atualmente</span>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et felis
              tortor porttitor tellus integer nec eleifend purus..
            </p>
          </div>

          <div class="experience">
            <h3>Musicista especialista em pianos digitais</h3>

            <h4>Empresa de músicos - EAM</h4>
            <span>2012 - atualmente</span>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et felis
              tortor porttitor tellus integer nec eleifend purus..
            </p>
          </div>

          <div class="experience">
            <h3>Musicista especialista em pianos digitais</h3>

            <h4>Empresa de músicos - EAM</h4>
            <span>2012 - atualmente</span>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et felis
              tortor porttitor tellus integer nec eleifend purus..
            </p>
          </div>
        </div>
      </div>

      <!-- JOB -->
      <div class="profile-job">
        <h2>Vagas com o seu perfil</h2>

        <div class="job-container">
          <div class="job">
            <div class="job-info">
              <img src="/assets/images/yamaha-logo.png" alt="Logo Yamaha" />
              <h3>Musicista especialista em pianos digitais</h3>
            </div>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              eget augue sem. Aenean id pellentesque dui.
            </p>

            <button class="button">
              <a href="/views/view-job.html">Ver mais sobre</a>
            </button>
          </div>
          <div class="job">
            <div class="job-info">
              <img src="/assets/images/yamaha-logo.png" alt="Logo Yamaha" />
              <h3>Musicista especialista em pianos digitais</h3>
            </div>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              eget augue sem. Aenean id pellentesque dui.
            </p>

            <button class="button">
              <a href="/views/view-job.html">Ver mais sobre</a>
            </button>
          </div>
          <div class="job">
            <div class="job-info">
              <img src="/assets/images/yamaha-logo.png" alt="Logo Yamaha" />
              <h3>Musicista especialista em pianos digitais</h3>
            </div>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              eget augue sem. Aenean id pellentesque dui.
            </p>

            <button class="button">
              <a href="/views/view-job.html">Ver mais sobre</a>
            </button>
          </div>

          <div class="job">
            <div class="job-info">
              <img src="/assets/images/yamaha-logo.png" alt="Logo Yamaha" />
              <h3>Musicista especialista em pianos digitais</h3>
            </div>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              eget augue sem. Aenean id pellentesque dui.
            </p>

            <button class="button">
              <a href="/views/view-job.html">Ver mais sobre</a>
            </button>
          </div>

          <div class="job">
            <div class="job-info">
              <img src="/assets/images/yamaha-logo.png" alt="Logo Yamaha" />
              <h3>Musicista especialista em pianos digitais</h3>
            </div>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              eget augue sem. Aenean id pellentesque dui.
            </p>

            <button class="button">
              <a href="/views/view-job.html">Ver mais sobre</a>
            </button>
          </div>
        </div>
      </div>

      <!-- FEEDBACK -->
      <div class="user-feedback">
        <h2>Seus feedbacks</h2>
        <span>Visivel apenas para você</span>

        <div class="feedback-container">
          <div class="feedback">
            <h3>Muito bom! Um ótimo musicista e excelente em reuniões</h3>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              eget augue sem. Aenean id pellentesque dui.
            </p>
          </div>

          <div class="feedback">
            <h3>Péssimo! Apenas mais um imitador barato</h3>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
              eget augue sem. Aenean id pellentesque dui.
            </p>
          </div>
        </div>
      </div>
    </main>

    <footer>© 2022 4WORKERS. Todos os direitos reservados.</footer>
  </body>
</html>
