<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/_reset.css" />
    <link rel="stylesheet" href="/css/view-candidate.css" />

    <title>4WORKERS - Visualizar candidatos</title>
  </head>

  <body>
    <header>
      <a href="/" class="logo">4WORKERS</a>
    </header>

    <main>
      <a id="back" tabindex="0"
        ><svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M14.53 18.53a.75.75 0 0 1-1.06 0l-6-6a.75.75 0 0 1 0-1.06l6-6a.75.75 0 1 1 1.06 1.06L9.06 12l5.47 5.47a.75.75 0 0 1 0 1.06Z"
            fill="#030D45"
          />
        </svg>
        Voltar</a
      >

      <div class="candidates-container">
        <a href="/views/user.html" class="candidate">
          <div class="candidate-image">
            <img
              src="/assets/images/user-image.jpg"
              alt="Imagem do candidato"
            />
          </div>

          <div class="candidate-content">
            <h2>Fernando Araújo</h2>

            <p>Musicista profissional</p>
          </div>
        <a>

        <a href="/views/user.html" class="candidate">
          <div class="candidate-image">
            <img
              src="/assets/images/user-image.jpg"
              alt="Imagem do candidato"
            />
          </div>

          <div class="candidate-content">
            <h2>Fernando Araújo</h2>

            <p>Musicista profissional</p>
          </div>
        </a>
      </div>
    </main>

    <footer>© 2022 4WORKERS. Todos os direitos reservados.</footer>

    <script>
      const back = document.querySelector('#back');

      back.addEventListener('click', () => window.history.back());
    </script>
  </body>
</html>
